@model TrainingApp.Data.DTO.Account.UserDetailDTO

<div class="content-details-group">
    <label>@Html.DisplayNameFor(model => model.FirstName)</label>
    <p>@Html.DisplayFor(model => model.FirstName)</p>
</div>

<div class="content-details-group">
    <label>@Html.DisplayNameFor(model => model.LastName)</label>
    <p>@Html.DisplayFor(model => model.LastName)</p>
</div>

<div class="content-details-group">
    <label>@Html.DisplayNameFor(model => model.SurName)</label>
    <p>@Html.DisplayFor(model => model.SurName)</p>
</div>

<div class="content-details-group">
    <label>@Html.DisplayNameFor(model => model.Email)</label>
    <p>@Html.DisplayFor(model => model.Email)</p>
</div>

<div class="content-details-group">
    <label>@Html.DisplayNameFor(model => model.Role)</label>
    <p>@Html.DisplayFor(model => model.Role)</p>
</div>
